<footer id="contact">
    <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-column">
                <h3>Let's Get In Touch!</h3>
                    <a href="tel:9402682526">+91-940-268-2526</a>
                    <a href="mailto:sayamjain0708@gmail.com">sayamjain0708@gmail.com</a>
            
            </div>
        </div>

</footer>