<nav class="navbar navbar-expand-md navbar-dark" style="background-color:#595B83">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img style="width: 40px; height: 40px;" src="../../images/delegation.png" class="img-responsive img-fluid" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task">Task</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  