<%-include("partials/head")-%>
<div class="main">
  <%-include("partials/nav")-%>
            <div class="container">
              <div class="row d-flex flex-column justify-content-between align-items-center text-center">
                <div class="col-md-10 col-lg-6">
                  <h1 class="display-5">The Coolest Task User Brief Place</h1>
      
                  <p class="lead">Where you Add task for the user. It also says which user is going to do the task, what task they are going to perform. We are the right office space.</p>
      
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/user" role="button">See User</a>
                  </p>
                  <p class="lead">
                    <a class="btn btn-dark btn-lg" href="/task" role="button">See Task</a>
                  </p>
                </div>
              </div>
            </div>
<%-include("partials/footer")-%>
</div>
      
  
<%-include("partials/foot")-%>